# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Specific files
__init__.*
modules/admin.py
modules/admin.pyc
modules/adminchannel.py
modules/adminchannel.pyc
modules/announce.py
modules/announce.pyc
modules/bugzilla.py
modules/bugzilla.pyc
modules/calc.py
modules/calc.pyc
modules/chanlogs.py
modules/chanlogs.pyc
modules/clock.py
modules/clock.pyc
modules/countdown.py
modules/countdown.pyc
modules/currency.py
modules/currency.pyc
modules/dice.py
modules/dice.pyc
modules/etymology.py
modules/etymology.pyc
modules/find.py
modules/find.pyc
modules/find_updates.py
modules/find_updates.pyc
modules/github.py
modules/github.pyc
modules/ip.py
modules/ip.pyc
modules/ipython.py
modules/ipython.pyc
modules/isup.py
modules/isup.pyc
modules/lmgtfy.py
modules/lmgtfy.pyc
modules/meetbot.py
modules/meetbot.pyc
modules/movie.py
modules/movie.pyc
modules/ping.py
modules/ping.pyc
modules/radio.py
modules/radio.pyc
modules/rand.py
modules/rand.pyc
modules/reddit.py
modules/reddit.pyc
modules/reload.py
modules/reload.pyc
modules/remind.py
modules/remind.pyc
modules/rss.py
modules/rss.pyc
modules/safety.py
modules/safety.pyc
modules/search.py
modules/search.pyc
modules/seen.py
modules/seen.pyc
modules/spellcheck.py
modules/spellcheck.pyc
modules/tell.py
modules/tell.pyc
modules/tld.py
modules/tld.pyc
modules/translate.py
modules/translate.pyc
modules/unicode_info.py
modules/unicode_info.pyc
modules/units.py
modules/units.pyc
modules/uptime.py
modules/uptime.pyc
modules/url.py
modules/url.pyc
modules/version.py
modules/version.pyc
modules/weather.py
modules/weather.pyc
modules/wikipedia.py
modules/wikipedia.pyc
modules/wiktionary.py
modules/wiktionary.pyc
modules/xkcd.py
modules/xkcd.pyc
modules/youtube.py
modules/youtube.pyc
